@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.phone_template {
  box-sizing: border-box;
  width: 375px;
  height: 5410px;
  top: -1883px;
  left: 11282px;
  background: #f7f7f9;
  border: 1px solid#ebebff;
}

.head_template {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  left: 1px;
  top: 1px;
  background-image: url("images/header-background.png");
  background-repeat: no-repeat;
}

.app_head_nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 92px;
  width: 375px;
  padding: 24px;
}

.logo {
  width: 100px;
  height: 40px;
  top: calc(50% - 40px / 2);
  left: 12px;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logolink {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 76px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  color: #6070ff;
  flex: none;
  flex-grow: 0;
}

.logolink:hover {
  transform: rotate(60deg);
}

a {
  text-decoration: none;
}

a:focus {
  color: fuchsia;
}

a:active {
  color: chartreuse;
}

a:hover {
  color: darkorange;
}

.sidebut {
  padding: 8px;
  width: 40px;
  height: 40px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.item_nav {
  display: none;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;
  width: 370px;
  left: calc(50% - 375px / 2);
  top: 92px;
  background-image: url("images/background1.png");
  background-repeat: no-repeat;
  order: 0;
}

h1 {
  width: 327px;
  height: 120px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.p1 {
  display: flex;
  width: 327px;
  height: 130px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lets_connet_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.p2 {
  width: 120px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  width: 200px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
  justify-content: space-between;
}

.socials {
  padding: 9px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.works_section {
  display: grid;
  grid-template-columns: auto;
  gap: 88px;
  padding: 114px 24px;
  width: 375px;
  height: 2788px;
}

.card_works_one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #4b5878;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
 }

.portfolio_snap_1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: o;
  flex-grow: 0;
  transition-timing-function: ease;
  transition-duration: 2s;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 295px;
  height: 110px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works_header {
  width: 295px;
  height: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #172b4d;
  flex: 1;
  order: 0;
}

.header_details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1px;
  width: 250px;
  height: 32px;
  flex: none;
  order: 1;
  bottom: 1px;
  flex-grow: 0;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 0;
}

.spec {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  flex: 1;
  order: 0;
  flex-grow: 1;
  text-align: center;
}

.header_details_name {
  display: flex;
  width: 90px;
  height: 24px;
  margin-right: 20px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header_details .header_details_name {
  list-style: none;
  color: #344563;
}

.header_details_specification {
  width: 123px;
  height: 20px;
  margin-right: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #7a869a;
}

.header_details_year {
  width: 29px;
  height: 20px;
  flex: none;
  order: 4;
  flex-grow: 0;
  color: #7a869a;
}

.paragraph_details {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: 1;
  order: 0;
  flex-grow: 0;
  margin-bottom: 4px;
}

.language_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  grid-area: 8px;
  width: 280px;
  height: 24px;
  list-style: none;
  text-decoration: none;
}

.langs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 3px 3px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 10px;
}

.html_lang {
  width: 45px;
}

.ruby_lang {
  width: 100px;
}

.css_lang {
  width: 28px;
}

.javascript_lang {
  width: 89px;
}

.see_project {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 1px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  order: 1;
  flex: 1;
  flex-grow: 0;
}

.see_project_text {
  width: 150px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  flex-grow: 0;
  border: none;
  background: none;
}

.see_project:active {
  background: #2230d2;
  transform: scale(0.98);
}

.see_project_text:active {
  color: #fff;
}

.see_project:disabled {
  border: 1px solid #c1c7d0;
}

.see_project_text:disabled {
  color: #5e6c84;
}

.see_project:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
}

.see_project_text:enabled {
  color: #6070ff;
}

.see_project:hover {
  background: #6070ff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.see_project_text:hover {
  color: #fff;
}

.see_project_text:link {
  color: #396df2;
}

.about_self {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1125.15px;
  background: #fff;
  border-top-right-radius: 100px;
}

.top_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 1px;
  width: 327px;
  height: 470px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_about {
  width: 327;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_parag {
  width: 327;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 0;
  flex: none;
  flex-grow: 0;
}

.social_media_connection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  width: 200px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.get_resume_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 10px;
  width: 190px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.resume_button {
  width: 178px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: none;
  background: none;
  letter-spacing: 0.03em;
  color: #396df2;
}

.get_resume_container:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
}

.resume_button:enabled {
  color: #6070ff;
}

.get_resume_container:active {
  background: #2230d2;
}

.resume_button:active {
  color: #fff;
}

.get_resume_container:disabled {
  border: 1px solid #c1c7d0;
}

.resume_button:disabled {
  color: #5e6c84;
}

.get_resume_container:hover {
  background: #6070ff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.resume_button:hover {
  color: #fff;
}

.resume_button:link {
  color: #396df2;
}

.skill_set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages_frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  padding: 8px;
}

.lang_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 300px;
  height: 72px;
}

.lang {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 20px;
}

.menu_drop_down {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 24px;
  height: 24px;
  right: 26px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  text-align: center;
}

.lang_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  gap: 1px;
  width: 327px;
  height: 248.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.lan_jav {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background: #f7f7f9;
}

.image_posn {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  border: 1px solid  #fff;
  margin: 1px 16px 1px 1px;
}

.lang_list_text {
  height: 24px;
  left: 76px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frame_text {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame_works {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 72px;
  order: 0;
  border-bottom: 1px solid #dfe1e6;
  padding: 10px;
}

.arrow_image {
  width: 40px;
  height: 40px;
}

.contact_section {
  position: relative;
  background: #fff;
}

.im_backg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 779px;
  top: 5410px;
  background: #6070ff;
  background-image: url('images/background1.png');
  background-repeat: no-repeat;
  border-top-left-radius: 50px;
}

.contact_header {
  width: 801px;
  height: 56px;
  left: -213px;
  top: 4734px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}

.contact_para {
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 327px;
}

.input_text {
  width: 327px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

input::placeholder {
  width: 273px;
  height: 25px;
  left: 16px;
  right: 38px;
  top: calc(50% - 18px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 16px;
}

.contact_msg {
  width: 327px;
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

textarea::placeholder {
  width: 237px;
  left: 16px;
  top: 15px;
  bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 16px;
}

.get_in_touch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 160px;
  height: 48px;
  left: 24px;
  top: 5317px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.get_in_touch_text {
  width: 110px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.get_in_touch:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
}

.get_in_touch_text:enabled {
  color: #6070ff;
}

.get_in_touch:active {
  background: #2230d2;
}

.get_in_touch_text:active {
  color: #fff;
}

.get_in_touch:disabled {
  border: 1px solid #c1c7d0;
}

.get_in_touch_text:disabled {
  color: #5e6c84;
}

.get_in_touch:hover {
  background: #6070ff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.get_in_touch_text:hover {
  color: #fff;
}

.home_indicator {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 6px;
}

@media screen and (min-width: 786px) {
  .phone_template {
    width: 1440px;
  }

  .head_template {
    width: 1435px;
    height: 916px;
    background-size: cover;
    border-bottom-left-radius: 100px;
  }

  .app_head_nav {
    width: 1350px;
    height: 72px;
    padding-left: 142px;
    padding-right: 142px;
  }

  .logo {
    top: 16px;
    left: 143px;
  }

  .sidebut {
    display: none;
  }

  .item_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
    gap: 8px;
    width: 259px;
    height: 40px;
    left: 1039px;
  }

  .items {
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .main {
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 200px;
    padding-bottom: 255px;
    width: 1435px;
    background: url("images/Header_deskV.png");
    background-size: 1290px;
    background-repeat: no-repeat;
  }

  h1 {
    width: 410px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 122px;
  }

  .p1 {
    width: 920px;
    height: 98px;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-top: 0;
    padding-top: o;
  }

  .works_section {
    display: grid;
    grid-template-columns: auto;
    padding: 142px;
    gap: 142px;
    width: 1440px;
    height: 2694px;
    top: 917px;
  }

  .card_works_one {
    display: flex;
    flex-direction: row;
    width: 1156px;
    height: 496px;
    border-radius: 24px;
  }

  .portfolio_snap_1 {
    width: 544px;
    height: 448px;
    border-radius: 8px;
    left: 24px;
    top: 24px;
    flex: none;
    order: o;
    flex-grow: 0;
  }

  .left_block {
    width: 544px;
    height: 410px;
    padding: 22px;
  }

  .card_two_four {
    display: flex;
    flex-direction: row-reverse;
  }

  .primary_text {
    width: 496px;
    height: 98px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .works_header {
    width: 496;
    height: 46px;
  }

  .header_details {
    width: 297px;
    height: 40px;
  }

  .header_details_name {
    width: 75px;
    height: 24px;
  }

  .header_details_specification {
    width: 120px;
    height: 24px;
  }

  .header_details_year {
    width: 38px;
    height: 24px;
  }

  .paragraph_details {
    width: 496px;
    height: 70px;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .language_list {
    width: 316px;
    height: 24px;
    margin-bottom: 20px;
  }

  .see_project {
    width: 124px;
    height: 48px;
    padding: 12px;
    margin-bottom: 120px;
  }

  .about_self {
    box-sizing: border-box;
    display: flex;
    width: 1435px;
    height: 600px;
    padding-left: 142px;
    padding-top: 142px;
    flex-direction: row;
  }

  .top_information {
    width: 447px;
    height: 392px;
    margin-right: 37px;
  }

  .text_about {
    width: 447px;
    height: 114px;
    margin-bottom: 12px;
  }

  .text_parag {
    width: 447px;
    height: 102px;
    margin-bottom: 12px;
  }

  .social_media_connection {
    margin-bottom: 34px;
  }

  .resume_button {
    padding: 12px;
  }

  .skill_set {
    width: 684px;
    display: flex;
  }

  .languages_frame {
    width: 684px;
    height: 216px;
    padding-left: 0;
  }

  .lang_menu {
    width: 684px;
    height: 72px;
  }

  .lang {
    padding-left: 0;
  }

  .lang_list {
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 144px;
    padding-left: 0;
    margin-left: 0;
  }

  .lan_jav {
    width: 150px;
    height: 120px;
    margin-left: 2px;
  }

  .frame_works {
    width: 684px;
    height: 72px;
  }

  .contact_section {
    box-sizing: border-box;
    width: 1440px;
    height: 846px;
    box-sizing: border-box;
    align-items: center;
    padding: 75px;
    border-top-left-radius: 90px;
    background: #6070ff;
    margin-top: 134px;
  }

  .im_backg {
    background-size: 1260px;
    background-image: url('images/contact_form_background_desk\ .png');
    width: 1260.66px;
    height: 800.7px;
    border: 0;
  }

  .contact_para {
    width: 569px;
    height: 102px;
  }

  .contact_form {
    align-items: center;
    width: 447px;
  }

  .input_text {
    width: 447px;
    border-radius: 0;
  }

  .contact_msg {
    width: 447px;
    border-radius: 0;
  }

  .contact_form .get_in_touch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
